.about {

}

.about-container {
    max-width: $size-screen-xl;
    width: 100%;
    margin: 0 auto;
}

.about-title {
    font-family: 'Inter';
    font-size: 80px;
    font-weight: bold;
    color: black;
}

.about-paragraph {
    font-family: 'Inter';
    font-size: 42px;
    font-weight: 300;
    color: rgb(185, 32, 127);
}

.about-links {

}

.about-link {

}