<section class="about">
    <div class="about-container">
        <h2 class="about-title">Hello,</h2>
        <p class="about-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ullam quos quas nobis dolore impedit, vel officiis? Voluptatibus ipsum deserunt, aliquam corrupti, laudantium quibusdam blanditiis ex dolorum, eius vel provident.
        </p>
        <div class="about-links">
            <a class="about-link" href="#">Telegram</a>
            <a class="about-link" href="#">Facebook</a>
            <a class="about-link" href="#">Site</a>
        </div>
    </div>
</section>